@page
@model CSClub.Pages.Admin.DashboardModel
@{
}

<h1 class="text-center" style="margin-bottom: 50px">CS Club Members</h1>

<div class="text-center" style="margin-top: 20px">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Grade</td>
                <td>Meetings Attended</td>
                <td>Is Co-President</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Members)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Grade</td>
                    <td>
                        @m.MeetingsAttended
                        <!--Input-->
                        <form method="post">
                            <input type="hidden" name="id" value="@m.Id" />
                            <input type="hidden" name="methodToCall" value="ModifyMeetingsAttended"/>
                            <button type="submit" name="param1" value="true" class="sort-link-button">+</button>
                            <button type="submit" name="param2" value="true" class="sort-link-button">-</button>
                        </form>
                    </td>
                    <td>@m.IsCoPresident</td>
                    <td>
                        <!--Input-->
                        <form method="post">
                            <input type="hidden" name="id" value="@m.Id" />
                            <input type="hidden" name="methodToCall" value="DeleteMember" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <!--Input-->
        <form method="post">
            <input type="hidden" name="methodToCall" value="AddMember" />

            <label for="param1">Name</label>
            <input type="text" name="param1" />

            <br />

            <label for="param2">Grade</label>
            <input type="text" name="param2" />

            <br />

            <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 5px">Add</button>
        </form>
    </div>
</div>