@page
@model CSClub.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="text-center" style="margin-bottom: 50px">CS Club Members</h1>

<div class="text-center" style="margin-top: 20px">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Grade</td>
                <td>Meetings Attended</td>
                <td>Is Co-President</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Members)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Grade</td>
                    <td>
                        @m.MeetingsAttended
                        <!--Input-->
                        <form method="post" asp-page="/Admin/CRUD/ModifyMeetingsAttended">
                            <input type="hidden" name="id" value="@m.Id" />
                            <button type="submit" name="operation" value="1" class="sort-link-button">+</button>
                            <button type="submit" name="operation" value="0" class="sort-link-button">-</button>
                        </form>
                    </td>
                    <td>@m.IsCoPresident</td>
                    <td>
                        <!--Input-->
                        <form method="post" asp-page="/Admin/CRUD/ConfirmDelete">
                            <input type="hidden" name="id" value="@m.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <!--Input-->
        <form method="post" asp-page="/Admin/CRUD/AddMember">
            <label for="name">Name</label>
            <input type="text" name="name" />

            <br />

            <label for="grade">Grade</label>
            <input type="text" name="grade" />

            <br />

            <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 5px">Add</button>
        </form>
    </div>
</div>

<!--Added this here too for convenience-->
<a class="btn btn-primary" style="margin-top: 50px;" asp-page="/Admin/Logs/AddLog">Add a Log</a>
<!--Go Back Button-->
<form method="post" asp-page-handler="GoBack">
    <button class="btn btn-secondary" style="margin-top: 50px;" type="submit">Go Back</button>
</form>