@page
@model CSClub.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Admin Login Page";
}

<div class="container border" style="padding: 20px;">
    <h1>Admin Login</h1>
    <form method="post">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Credential.Username"></label>
            </div>

            <div class="col-5">
                <input type="text" asp-for="@Model.Credential.Username" class="form-control" />
            </div>

            <span class="text-danger" asp-validation-for="@Model.Credential.Username"></span>
        </div>

        <br />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Credential.Password"></label>
            </div>

            <div class="col-5">
                <input type="password" asp-for="@Model.Credential.Password" class="form-control" />
            </div>

            <span class="text-danger" asp-validation-for="@Model.Credential.Password"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <input type="submit" , class="btn btn-primary" value="Login">
            </div>

            <div class="col-5">

            </div>
        </div>

    </form>

</div>

<a class="btn btn-secondary btn-sm" style="margin-top: 50px;" asp-page="/Teacher/Login">Teacher Login</a>

